#info{
    background-color: aqua;
    text-align: center;
    color: black;
    padding: 15px;
    width: 500px;
    margin-left: 400px;
    margin-top: 350px;
    border-radius: 15px;
}
body{
    background-color: black;
}